<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Say Hello</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
  <img src="https://github.com/MariyaSha/SimpleGreetingApp/blob/main/logo.png?raw=true">
  <br>

  <!-- Form to greet the user -->
  <form action="/greet" method="POST"> <!-- Corrected action and method attributes -->
    <!-- Display flash messages if available -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    
    <br>
    <input type="text" name="name_input" placeholder="Enter your name">
    <br>
    <input type="submit" value="GREET" id="greet">
  </form>
</body>
</html>
